@CHARSET "EUC-KR";


@media (min-width:1024px) {
	header #imgModify {
		width:100%
	}
}

@media (min-width:768px) {
	header #imgModify {
		width:100%
	}
}

@media screen and (min-width:120px) {
	header #imgModify {
		width:100%
	}
}
